<%= form_with scope: :user, url: sessions_create_path, local: true do |f| %>
  <div class="container">
    <div class="text-center">
      <h2>Sign In</h2>
    <p>
      <%= f.label :email%><br>
      <%= f.text_field :email %><br>
    </p>
    <p>
      <%= f.label :password %><br>
      <%= f.password_field :password %><br>
    </p>
    <p>
      <%= f.submit 'Submit'  %>  
    </p>
      New user? <%= link_to 'Sign Up', registrations_new_path %>
    </div>
  </div>
<% end %>
