<style type="text/css">

    p,h2 {
        text-align: center;
       
    }

</style>


<%= form_with scope: :registration, url: registrations_create_path, local: true do |f| %>

    <% if @user.errors.any? %>
      <div id ="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited
            this user from being saved:
          </h2>
          <ul>
            <%= @user.errors.full_messages.each do |msg| %>
            <li><%= msg %> </li>
            <% end %>
          </ul>
      </div>
    <% end %>
      <h2>
        Sign Up
      </h2>
        <p>
            <%= f.label :first_name %>
            <%= f.text_field :first_name %><br>
        </p>
        <p>
            <%= f.label :last_name %>
            <%= f.text_field :last_name %><br>
        </p>
        <p>
            <%= f.label :email%>
            <%= f.text_field :email %><br>
        </p>
        <p>
            <%= f.label :password %>
            <%= f.password_field :password %><br>
        </p>

        <p>
            <%= f.submit 'Submit'  %>  
        </p>
    
<% end %>


  