<div style="margin-top: -828px; float: right; margin-right: 66px;">
  <%= link_to 'Back', dashboard_index_path %>
</div>
<% if @cart_items.present? %>
  <div class ="cart-products-list">
    <table class="table table-striped" >
      <thead class="thead-dark">
        <tr> 
          <th>Product</th>
          <th>Brand</th>
          <th>Quantity</th>
          <th>CGST</th>
          <th>SGST</th>
          <th>Product Price</th>
          <th>Actions</th>
        </tr>
      </thead> 
          <% @cart_items.each do |cart_item| %>
          <tr>
            <% product = cart_item.product %> 
              <td><%= product.name %></td>
              <td><%= product.brand %></td>
              <td class="quantity-button"> 
                <%= link_to '-', cart_items_decrease_quantity_cart_item_path(cart_item.product_id), method: :patch, class: "btn btn-info" %>
                <%= cart_item.quantity %>
                <%= link_to '+', cart_items_increase_quantity_cart_item_path(cart_item.product_id), method: :patch, class: "btn btn-info"%>
              </td>
              <td><%= cart_item.cgst %></td>
              <td><%= cart_item.sgst %></td>
              <td><%= product.price %></td>
              <td>
                <%= link_to 'Remove From Cart', cart_item_path(cart_item.id), method: :delete, class: "btn btn-info",
                  data: { confirm: 'Are you sure?' } %>
              </td>
          <% end %>
        </tr>
    </table>
    <p style="margin-left: 748px;">Total Price: <%= @cart_items.sum(:price) %></p> 
  </div>
  <% if @cart_items.present? %>
    <div class="order-button">
      <%= link_to 'Place order', addresses_path, class: "btn btn-info" %>
    </div>
  <% end %>
<% else %>
  <%= flash[:info] = 'Dont Have Any Items in Cart' %>
<% end %>

