<div style="position: absolute; margin-top: -582px; margin-left: 684px;">
  <%= link_to 'Back', dashboard_index_path, class: "btn btn-info" %>
</div>
<% if @cart_items.present? %>
  <div class ="cart-products-list">
    <table class="table table-striped" >
      <thead class="thead-dark">
        <tr> 
          <th>Product</th>
          <th>Brand</th>
          <th>Quantity</th>
          <th>CGST</th>
          <th>SGST</th>
          <th>Product Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @cart_items.each do |cart_item| %>
          <tr class="cart_item">
            <%= render partial: "cart_products", locals: { cart_item: cart_item } %>
          </tr>
        <% end %>
      </tbody>
    </table>
    <p class="cartItemprice" style="margin-left: 748px;">Total Price: <%= number_to_currency_br(@cart_items.sum(:price)) %></p>
  </div>
  <% if @cart_items.present? %>
    <div class="order-button">
      <%= link_to 'Place order', order_display_order_items_path, class: "btn btn-info" %>
    </div>
  <% end %>
<% else %>
  <%= flash[:info] = 'Dont Have Any Items in Cart' %>
<% end %>
