<div style="margin-top: -828px; float: right; margin-right: 66px;">
  <%= link_to 'Back', addresses_path %>
</div>
<div class ="cart-products-list">
  <table class="table table-striped" >
    <thead class="thead-dark">
      <tr> 
        <th>Product</th>
        <th>Brand</th>
        <th>Quantity</th>
        <th>CGST</th>
        <th>SGST</th>
        <th>Total Tax</th>
        <th>Total Price</th>
      </tr>
    </thead> 
    <% @products.each do |product| %>
      <tr> 
        <td><%= product.name %></td>
        <td><%= product.brand %></td>
        <% @cart_items.each do |cart_item| %>
          <% if product.id == cart_item.product_id && current_user.id == current_user.cart.user_id && current_user.cart.id == cart_item.cart_id %>
            <td><%= cart_item.quantity %></td>
            <td><%= cart_item.cgst %></td>
            <td><%= cart_item.sgst %></td>
            <td><%= cart_item.total_tax %></td>
            <td><%= cart_item.price %></td>
          <% end %>
        <% end %>
      </tr>
    <%  end %>
  </table>
</div>
<div class="order-button">
  <%= link_to 'Confirm your order', order_items_path(id: @address), method: :post, class: "btn btn-info" %>      
</div>
<div class="cancel-order-button">
  <%= link_to 'Cancel', cart_items_path, class: "btn btn-info" %> 
</div>
