<div class="order-invoice">
  <div class="card-body" style="text-align: center; margin-left: -11rem;">
    <% @order_items.each do |order_item| %>
      <%= image_tag(order_item.product.image, class: "card-img-top") %>
      <h5> <%= order_item.product.name %> </h5>
      <p><%=order_item.product.brand %></p>
      <p><%= number_to_currency_br(order_item.price) %></p>
    <% end %>
    <p>Total Item Purchased: <%= @order_items.count %> </p>
    <p>Total Item Quantities: <%= @order_items.sum(:quantity) %> </p>
    <p>Total Price: <%= number_to_currency_br(@order_items.sum(:price)) %> </p>
  </div> 
</div>
