<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <header class="header">
      <nav class="navbar navbar bg-light">
        <div class="logo-image">
          <%= link_to image_tag('sc-logo.jpg'), dashboard_index_path %>
        </div>
        <div style="margin-left: 73px;">
          <% if current_user %>
              <%= render partial: 'shared/nav_buttons' %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-light" %> 
              <%= link_to "Login", new_user_session_path, class: "btn btn-light" %>
            <% end %>
          </div>
      </nav>
    </header>
  </head>
  <body>
    <% if current_user %>
      <%= render partial: 'shared/sidebar' %>
    <% end %>
    <%= render partial: 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>



