<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <header class="header">
      <nav class="navbar navbar bg-light">
        <div class="logo-image">
          <%= link_to image_tag('sc-logo.jpg'), dashboard_index_path %>
        </div>
        <ul class="nav pull-right">
          <li><%= link_to "Log out", sessions_destroy_path, method: "delete",  :class => "btn" %></li>
        </ul>
      </nav>
    </header>
  </head>

  <body>
    <div id="modal-holder"></div>
    <%= render :partial =>'shared/sidebar' %>
    <%= render :partial =>'shared/flash_messages' %>
    <%= yield %>

  </body>
</html>


