<!DOCTYPE html>
<html>
  <head>
    <title>ShoppingWebsite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <header class="header">
      <nav class="navbar navbar bg-light">
        <div class="logo-image">
          <%= link_to image_tag('sc-logo.jpg'), dashboard_index_path %>
        </div>
        <% if current_user %>
          <ul class="nav pull-right">
            <li style="margin-right: 51px;"><%= link_to "Cart", cart_items_path, class: "btn btn-light" %></li>
            <li><%= link_to "Log out", sessions_destroy_path, method: "delete", class: "btn btn-light" %></li>
          </ul>
        <% end %>
      </nav>
    </header>
  </head>
  <body>
    <% if current_user %>
      <%= render partial: 'shared/sidebar' %>
    <% end %>
    <%= render partial: 'shared/flash_messages' %>
    <%= yield %>
  </body>
</html>



