<!DOCTYPE html>   
<html>   
  <head>  
    <title>ShoppingWebsite</title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> 
  </head>   
  <body> 
   <div id="modal-holder"></div> 
    <header class="header">
      <nav class="navbar navbar bg-light">
        <div class="logo-image">
          <%= link_to image_tag('sc-logo.jpg'), home_index_path %>
        </div>
        <div style="margin-left: 73px;">
        </div>
      </nav>
    </header>    
    <%= render partial: 'shared/flash_messages' %>   
    <%= yield %>                                               
  </body>   
</html>  


